<!DOCTYPE html>
<html lang="en">
  <head>
  {% load static %}

    <link rel="stylesheet" href="{% static './assets/css/bootstrap.css' %}" />
    
    
    <title>{% block title %}Erreur {% endblock %}</title>
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    -->
 

  </head>

  <body>
    <div class="jumbotron bg-warning">
  <h1>ERROR 404</h1>
  <p>You Must Add Your Telegram Token and Reception Id or Verify If They Are Correct</p>
</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

  </body>
</html>
